.galerija {
  background-color: var(--Tiffany-Blue);
  padding-bottom: 1rem;
  width: var(-container-max-width);
  height: auto;

  h1 {
    padding-top: 1rem;
    width: auto;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: auto;
    text-align: center;
  }

  img {
    border-radius: 25px;
    width: 400px;
    height: 400px;
  }
}

.nuotraukos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.galerija-kraunasi {
  border: 8px solid #9ffcdf;
  border-top: 8px solid #47624f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: relative;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
