.galerija {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--Tiffany-Blue);

  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 1rem;
    width: auto;
  }

  h2 {
    margin-top: 1rem;
  }
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  height: 460px;
}
