.galerija {
  background-color: var(--Tiffany-Blue);
  padding-bottom: 1rem;
  width: var(-container-max-width);
  height: auto;

  h1 {
    padding-top: 1rem;
    width: auto;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: auto;
    text-align: center;
  }

  img {
    border-radius: 25px;
    width: 400px;
    height: 400px;
  }
}

.nuotraukos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
