.email-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 1rem;
  background-color: var(--Tiffany-Blue);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
    padding-bottom: 1rem;

    input {
      margin-bottom: 1rem;
      border-radius: 5px;
      border-color: var(--Tiffany-Blue);

      &:hover {
        border-color: var(--Viridian) !important;
      }

      &:focus {
        border-color: var(--Viridian) !important;
      }
      :active {
        border-color: var(--Feldgrau) !important;
      }
    }

    textarea {
      margin-bottom: 1rem;
      border-radius: 5px;
      border-color: var(--Tiffany-Blue);

      color: var(--Feldgrau) !important;
      &:hover {
        border-color: var(--Viridian) !important;
      }

      &:focus {
        border-color: var(--Viridian) !important;
      }

      :active {
        border-color: var(--Feldgrau) !important;
      }
    }

    button {
      width: 150px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: var(--Feldgrau) !important;

      color: var(--Tiffany-Blue) !important;
      border-radius: 5px;
      border-color: var(--Tiffany-Blue) !important;

      &:hover {
        background-color: var(--Viridian) !important;
      }
    }
  }
}
