@use '../../assets/style/mixins' as *;

.footer {
  background-color: var(--Feldgrau);
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;

  margin-top: 1rem;
  color: var(--Tiffany-Blue);
  @include tablet {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include mobile {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
