:root {
  --Dark: #06171e;
  --Feldgrau: #47624f;
  --Viridian: #4d8876;
  --Keppel: #52ad9c;
  --Tiffany-Blue: #79d5be;
  --Aquamarine: #9ffcdf;
  --Light-green: #86e198;

  --container-max-width: 955px;
}
